.start-container-top {
  background-image: linear-gradient(#fab005, rgb(250, 176, 5, 0.9));
  color: var(--color-primary-tint-1);
  font-family: var(--font-primary), sans-serif;

  align-content: flex-start;
  justify-items: center;

  text-align: center;
}

.start-conversation-image--left {
  grid-column: 1;
  grid-row: 2;
}

.start-conversation-image--right {
  grid-column: 3;
  grid-row: 2;
}

.start-primary {
  grid-column: 2;
}

.start-secondary {
  grid-column: 2;
}
