.title-screen {
  position: relative;
  background-image: linear-gradient(#fab005, rgb(250, 176, 5, 0.9));
  color: var(--color-primary-tint-1);
}

.title-container {
  width: 90vw;
  min-height: 100vh;

  position: relative;
  background-image: url("../../img/mascot/noisemascot-horn.png");
  background-position: -19vw 8vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.title-speech-bubble {
  display: block;
  width: 112rem;
  height: 80rem;

  stroke-width: 0.4rem;
  fill: var(--color-primary-shade-2);

  position: absolute;
  top: -8vw;
  left: 27vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-speech-container {
  font-family: var(--font-primary), sans-serif;
  position: absolute;

  top: 5%;
  left: 45%;

  max-width: 80rem;
}

.title-primary-top {
  font-size: 9.8rem;
}

.title-primary-bottom {
  font-size: 13.6rem;
}

.title-secondary {
  font-size: 7.4rem;
  align-self: flex-end;
}

.title-logo-container {
  position: absolute;

  bottom: 20%;
  right: 5%;
}

.title-logo-container img {
  width: 12rem;
  height: 12rem;

  -webkit-filter: drop-shadow(0.3rem 0.3rem 0 white)
    drop-shadow(-0.3rem 0.3rem 0 white) drop-shadow(0.3rem -0.3rem 0 white)
    drop-shadow(-0.3rem -0.3rem 0 white);

  filter: drop-shadow(0.3rem 0.3rem 0 white) drop-shadow(-0.3rem 0.3rem 0 white)
    drop-shadow(0.3rem -0.3rem 0 white) drop-shadow(-0.3rem -0.3rem 0 white);
}

.title-button-continue {
  padding: 1.2rem 2.4rem;
  background-color: var(--color-secondary);
  color: var(--color-primary-tint-1);

  text-decoration: none;
  font-size: 5.2rem;
  font-weight: 700;
  font-family: var(--font-secondary), sans-serif;

  border-radius: 11px;
  border: 1px solid var(--color-primary-shade-1);

  position: absolute;
  bottom: 5%;
  right: 4%;
}

.title-button-continue:hover,
.title-button-continue:active {
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.07);
}

@media (max-width: 89em) {
  .title-screen {
    z-index: -999;
  }

  .title-container {
    background-size: cover;
    z-index: -999;
  }

  .title-speech-bubble {
    display: none;
  }

  .title-primary-top {
    font-size: 8.6rem;
    z-index: 100;
  }

  .title-primary-bottom {
    font-size: 12.8rem;
  }

  .title-secondary {
    font-size: 6.2rem;
  }

  .title-speech-container {
    top: 10%;
  }

  .title-speech-container::after {
    content: "";
    display: block;

    background-image: linear-gradient(#fab005, rgb(250, 176, 5, 0.9));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    padding-bottom: 70%;
    border-radius: 50px;
    z-index: -1;
    box-shadow: 0px 0px 20px 20px var(--color-primary-tint-1);
  }
}

@media (max-width: 86em) {
  .title-primary-top {
    font-size: 8.6rem;
  }

  .title-primary-bottom {
    font-size: 12.8rem;
  }

  .title-secondary {
    font-size: 6.2rem;
  }
}

@media (max-width: 73em) {
  .title-speech-container {
    top: 15%;
  }

  .title-primary-top {
    font-size: 7.4rem;
  }

  .title-primary-bottom {
    font-size: 11.6rem;
  }

  .title-secondary {
    font-size: 5.2rem;
  }

  .title-speech-container::after {
    padding-bottom: 70%;
  }
}

@media (max-width: 64em) {
  .title-speech-container {
    left: 50%;
    top: 1%;
    width: fit-content;
    transform: translate(-50%, 0);

    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr 1fr;

    align-items: center;
  }

  .title-primary-top {
    font-size: 8.6rem;
  }

  .title-primary-bottom {
    font-size: 8.6rem;
    color: var(--color-secondary);
    text-align: left;
  }

  .title-secondary {
    font-size: 4.4rem;
    grid-column: 1/-1;
    justify-self: stretch;
    align-self: start;
  }

  .title-speech-container::after {
    padding-bottom: 0%;
    width: 85vw;
    box-shadow: none;
  }

  .title-container {
    background-position: -30vw 20vw;
    width: 100vw;
    height: 100vh;
  }

  .title-logo-container img {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    border: 0.2rem solid #fdf2e9;
    margin-right: -4.5rem;

    -webkit-filter: none;

    filter: none;
  }

  .title-logo-container img:last-child {
    margin-right: 0;
  }
}

@media (max-width: 50em) {
  .title-secondary {
    display: none;
  }

  .title-speech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-button-continue {
    font-size: 4.4rem;
    right: 50%;
    transform: translate(50%);
    width: fit-content;
  }

  .title-logo-container {
    right: 50%;
    transform: translate(50%);
  }
}

@media (max-width: 28em) {
  .title-logo-container img {
    width: 8rem;
    height: 8rem;
    padding: 0.5rem;
  }

  .title-container {
    background-position: -80vw 10vw;
  }
}

@media (max-width: 20em) {
  .title-logo-container img {
    width: 7rem;
    height: 7rem;
    padding: 0.2rem;
  }

  .title-primary-top {
    font-size: 6.4rem;
  }

  .title-primary-bottom {
    font-size: 6.4rem;
  }

  .title-button-continue {
    font-size: 3.2rem;
  }
}
