.generic-button-container {
  min-height: 30vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  background-color: var(--color-primary-tint-1);
}

.generic-button-text {
  font-family: var(--font-secondary), sans-serif;
  font-weight: 700;
  font-size: 5.2rem;
  text-align: center;
}
