.age-container-top {
  color: var(--color-primary-shade-1);
  font-family: var(--font-primary), sans-serif;

  position: relative;
}

.age-container-top img {
  position: absolute;
  width: 168rem;
  top: 43%;
}

.age-card {
  position: absolute;
}

.age-card-circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--color-secondary-tint-1);
  margin-bottom: 8vh;
}
