.neighbour-noise-container-top {
  color: var(--color-primary-shade-1);
  font-family: var(--font-primary), sans-serif;
}

.face-happy,
.face-sad {
  height: 13.6rem;
}

.face-caption {
  font-family: var(--font-secondary), sans-serif;
  font-weight: 700;
}
