.user-profile-intro-container-top {
  width: 100vw;
  min-height: 70vh;

  background-image: linear-gradient(
    var(--color-tertiary),
    rgba(248, 113, 113, 0.9)
  );
  color: var(--color-primary-tint-1);
  font-family: var(--font-primary), sans-serif;

  display: grid;
  grid-template-columns: 1fr 30rem;
  grid-template-rows: 1fr 1fr;

  justify-items: center;

  line-height: 15.6rem;
}

.user-profile-intro-primary-top {
  grid-column: 1;
  grid-row: 1;
  font-size: 13.8rem;
  align-self: end;
}

.user-profile-intro-primary-bottom {
  grid-column: 1;
  grid-row: 2;
  font-size: 15.6rem;
}

.user-profile-intro-image {
  grid-column: 2;
  grid-row: 1/-1;
  align-self: center;
  justify-self: start;
}

.user-profile-intro-image img {
  width: 25rem;
}
