.noise-collation-top {
  background-image: linear-gradient(
    var(--color-primary-tint-1),
    var(--color-primary-tint-1-alpha)
  );
  color: var(--color-primary-shade-1);
  font-family: var(--font-primary), sans-serif;
}

.noise-collation-title--triggered {
  font-size: 10.8rem;
}

.noise-collation-img {
  width: 16.8rem;
  height: 16.8rem;
}

.noise-collation-color--pets {
  color: var(--color-pets);
}

.noise-collation-color--furniture {
  color: var(--color-furniture);
}

.noise-collation-color--baby {
  color: var(--color-baby);
}

.noise-collation-color--works {
  color: var(--color-works);
}

.noise-collation-color--music {
  color: var(--color-music);
}

.noise-collation-color--others {
  color: var(--color-others);
}
