.quiet-hours-results-section {
  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-template-columns: 5fr 4fr;
  gap: 3.2rem;

  justify-content: center;
  align-items: center;
}

.quiet-hours-results-section h2 {
  font-size: 4.4rem;
  text-align: center;
}

.quiet-hours-results-title {
  margin-top: 1.2rem;
  font-size: 9.6rem;
  grid-column: 1/-1;
  text-align: center;
}

.quiet-hours-chart-container {
  margin-left: 5vw;
}

#quiet-hours-results-chart {
  background-image: url("../../img/misc/dial-no-numbers.png");
  background-position: 25% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
