.quiet-hours-bg {
  background-image: linear-gradient(
    var(--color-primary-tint-1),
    var(--color-primary-tint-1-alpha)
  );
  color: var(--color-primary-shade-1);
  font-family: var(--font-primary), sans-serif;
}

.quiet-hours-dial {
  position: relative;
  width: 45vw;
  height: 45vw;
  margin-left: 10vw;

  background-image: url("../../img/misc/dial.png");
  background-position: 25% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.quiet-hours-dial-size {
  width: 85%;
  height: 85%;
}

.quiet-hours-control {
  flex-grow: 1;
}

.quiet-hours-control strong {
  color: var(--color-music);
}

.quiet-hours-control h2 {
  text-align: center;
  font-size: 5.2rem;
}

.quiet-hours-control table {
  width: 64rem;
  text-align: center;
  font-size: 4.4rem;
  background-color: 1px solid var(--color-grey-3);
  border-collapse: collapse;
}

.quiet-hours-legend img {
  display: block;
  max-width: 40vw;
  padding: 1.2rem;
}

.btn-dial:nth-child(1) {
  background: url("../../img/misc/arrow-clockwise.png"),
    linear-gradient(var(--color-primary-shade-2), var(--color-primary-shade-2));
  background-size: cover;
}

.btn-dial:nth-child(4) {
  background: url("../../img/misc/arrow-counter-clockwise.png"),
    linear-gradient(var(--color-primary-shade-2), var(--color-primary-shade-2));
  background-size: cover;
}

.btn-dial:nth-child(2) {
  background: url("../../img/misc/arrow-arc-right.png"),
    linear-gradient(var(--color-primary-shade-2), var(--color-primary-shade-2));
  background-size: cover;
}

.btn-dial:nth-child(3) {
  background: url("../../img/misc/plus.png"),
    linear-gradient(var(--color-primary-shade-2), var(--color-primary-shade-2));
  background-size: cover;
}

.btn-dial:nth-child(5) {
  background: url("../../img/misc/arrow-arc-left.png"),
    linear-gradient(var(--color-primary-shade-2), var(--color-primary-shade-2));
  background-size: cover;
}

.btn-dial:nth-child(6) {
  background: url("../../img/misc/paper-plane-tilt.png"),
    linear-gradient(var(--color-primary-shade-2), var(--color-primary-shade-2));
  background-size: cover;
}

.btn-dial--minus:nth-child(3) {
  background: url("../../img/misc/minus.png"),
    linear-gradient(var(--color-primary-shade-2), var(--color-primary-shade-2));
  background-size: cover;
}

/* Chart CSS */
#quiet-hours-chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
